<!DOCTYPE html>
<html>
<head>
  <title>More Details</title>
  <link rel="stylesheet" href="adminstyle.css">
</head>
<body>

  <!-- The pop-up box -->
  
  <div id="popup-box" class="popup">
    <div class="popup-content">
      <div class="header">
        <h2>More Details</h2>
        <span class="close-btn" onclick="closePopup()">&times;</span>
      </div>
      <div class="user-profile">
        <img src="admin\Img\girl.jpg" alt="User Profile Picture">
        <h3>Krystal Tan</h3>
      </div>
      <div class="user-details">
        <p><strong>Email:</strong> krystal123@example.com</p>
        <p><strong>Gender:</strong> Female</p>
        <p><strong>Address:</strong> Seletar Road Block 123A</p>
        <p><strong>Postal Code:</strong> 301103</p>
        <p><strong>Birthdate:</strong> 29/04/2003</p>
      </div>
      <div class="action-buttons">
        <button type="submit" class="btn btn-primary settings-btn" style="color: #82000a;">BAN</button>
        <button type="submit" class="btn btn-primary settings-btn" style="color: #4b6043;">SUSPEND</button>

      
        
      </div>
    
    </div>
  </div>

  <script src="scripts.js"></script>
</body>
</html>
