{% extends "Customer/base.html" %}
{% block title %}Healthy Living - Product{% endblock %}

{% block content %}
<style>
    .product-title {
        display: -webkit-box;
        height:50px;
        -webkit-line-clamp: 2; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>

<div class="d-flex flex-row">
    <div class="filters pr-5 border-right position-sticky" style="border-right-width: 5px!important;height: min-content;top: 0;">
        <h1>Filters</h1>
        <h3>All Categories</h3>
        <ul>
            <li><a class="txt-light" href="{{ url_for('products') }}">All</a></li>
            {% for category in categories %}
            <li><a class="txt-light" href="{{ url_for('products', category=category) }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
        <h3>Ratings</h3>
        <ul>
            <li><a class="txt-light" href="{{ url_for('products') }}">All Ratings</a></li>
            <li class="text-warning"><a class="d-flex text-warning" href="{{ url_for('products', rating='5') }}"><p class="mr-1 mb-0">&#9733;</p><p class="mr-1 mb-0">&#9733;</p><p class="mr-1 mb-0">&#9733;</p><p class="mr-1 mb-0">&#9733;</p><p class="mr-1 mb-0">&#9733;</p></a></li>
            <li class="text-warning"><a class="d-flex text-warning" href="{{ url_for('products', rating='4') }}"><p class="mr-1 mb-0">&#9733;</p><p class="mr-1 mb-0">&#9733;</p><p class="mr-1 mb-0">&#9733;</p><p class="mr-1 mb-0">&#9733;</p> & up</a></li>
            <li class="text-warning"><a class="d-flex text-warning" href="{{ url_for('products', rating='3') }}"><p class="mr-1 mb-0">&#9733;</p><p class="mr-1 mb-0">&#9733;</p><p class="mr-1 mb-0">&#9733;</p> & up</a></li>
            <li class="text-warning"><a class="d-flex text-warning" href="{{ url_for('products', rating='2') }}"><p class="mr-1 mb-0">&#9733;</p><p class="mr-1 mb-0">&#9733;</p> & up</a></li>
            <li class="text-warning"><a class="d-flex text-warning" href="{{ url_for('products', rating='1') }}"><p class="mr-1 mb-0">&#9733;</p> & up</a></li>
        </ul>
    </div>
    <div class="d-flex flex-column flex-fill ml-5" style="width: min-content;">
        <div class="search mb-3">
            <input class="form-control bgd-light" id="search" placeholder="Search" type="text">
        </div>
        {% if product_list|length == 0 %}
        <h1 class="text-center">No products found</h1>
        {% else %}
        <div class="d-flex flex-wrap flex-fill flex-column">
            {% for category in categories %}
                <h2>{{ category }}</h2>
                <div class="d-flex mb-3">
                {% for product in product_list %}
                {% if product.category == category %}
                {% if product.stock != 0 %}
                <div class="product text-center mb-3 mr-3">
                    <div class="product-image" style="width: 300px;height: 500px;background-color: white; position:relative;">
                        <img src="{{ product.image }}" style="
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        margin:auto
                    ">
                    </div>
                    <div class="product-info d-flex flex-column bgd-dark txt-dark p-3" style="width:300px">
                        <a class="product-title h5 txt-dark" id="title" href="{{ url_for('product_info', product_id=product.product_id) }}">{{ product.name }}</a>
                        <div class="rating d-flex flex-row justify-content-around">
                            <div class="d-flex flex-row">
                            {% for _ in range(product.average_rating) %}
                                <p class="text-warning mr-1">&#9733;</p>
                            {% endfor %}
                            </div>
                            <p class="text-info" style="text-shadow: 1px 1px 3px black">{{ product.num_reviews }} reviews</p>
                        </div>
                        <h4 class="price">${{ "%0.2f"|format(product.list_price) }}</h4>
                        <form action="{{ url_for('add_to_cart') }}" method="post">
                            <input type="hidden" name="product_id" value="{{ product.product_id }}">
                            <button type="submit" class="align-self-end add-to-cart p-3" >Add to Cart</button>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% endif %}
            {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<script>
    // Function to handle search logic
    document.addEventListener('DOMContentLoaded', () => {
      const searchInput = document.getElementById('search');
      const productItems = document.querySelectorAll('.product');
    
      // Function to handle search logic
      function handleSearch() {
        const searchTerm = searchInput.value.trim().toLowerCase();
        productItems.forEach(item => {
          const title = item.querySelector('#title').innerText.toLowerCase();
          if (title.includes(searchTerm)) {
            item.style.display = 'block'; // Show the product item
          } else {
            item.style.display = 'none'; // Hide the product item
          }
        });
      }
    
      // Add event listener to the search input
      searchInput.addEventListener('input', handleSearch);
    });
</script>
{% endblock %}

