{% extends 'base.html' %}

{% block title %}Admin Password Form{% endblock %}

{% block content %}
<div>
  <div class="flex p-6 w-150 h-96 bg-sidebar text-black">
    <div class="w-8/12">
      <div class="mb-2">
        <p class="text-background font-semibold mb-1 text-lg ">Current Password: </p>
        <input class="border border-black p-1 w-full bg-transparent" type="text" name="" id="" placeholder="First Name" />
      </div>
      <div class="mb-2">
        <p class="text-background font-semibold mb-1 text-lg ">New Password: </p>
        <input class="border border-black p-1 w-full bg-transparent" type="text" name="" id="" placeholder="First Name" />
      </div>
      <div class="">
        <p class="text-background font-semibold mb-1 text-lg ">Update Password: </p>
        <input class="border border-black p-1 w-full bg-transparent" type="text" name="" id="" placeholder="First Name" />
      </div>
    </div>
    <div class="ml-16 mt-auto">
      <button class="bg-transparent font-semibold text-background border-4 border-background px-8 py-2">
        SAVE
      </button>
    </div>
  </div>
</div>
{% endblock %}  {% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
