{% extends "Customer/base.html" %}
{% block title %}Healthy Living - Customer Edit Information{% endblock %}
{% block content %}
{% from "_formHelper.html" import render_field %}
  <div class="container-fluid">
    <div class="row">
      <!-- Vertical Navbar -->
      <nav class="navbar list-group col-md-2 vertical-nav navbar col-md-3 vertical-nav">
        <ul class="navbar-nav">
          <li></li>
          <li class="nav-item active list-group-item">
              <a class="nav-link txt-light" href="/UserProfile">My Account </a>
          </li>
          <li class="nav-item list-group-item">
              <a class="nav-link txt-light" href="/Wishlist">My Wishlist</a>
          </li>
          <li class="nav-item list-group-item">
              <a class="nav-link txt-light" href="/OrderStatus">Order Status</a>
          </li>
          <li class="nav-item list-group-item">
              <a class="nav-link txt-light" href="/OrderHistory">Order History</a>
          </li>
          <li class="nav-item list-group-item">
            <a class="nav-link txt-light" href="{{ url_for('PaymentMethod', id=session['id'])}} ">Payment Methods</a>
          </li>
          <!-- Add more history items as needed -->
        </ul>
      </nav>
      <!-- Vertical white line -->
      <div class="vertical-line col-md-13"></div>
      <!-- Your main content here -->
      <div class="col-md-8">
        <br>
        <!-- Add your main content here -->
        <div class="container">
            <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 28px;">EDIT ACCOUNT INFORMATION</h2>
          <div class="line-container">
            <hr class="half-screen-line">
          </div>
          <br>
          <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
              {{ render_field(form.userFullName, class="form-control", style="width: 300px; height:40px;")}}
            </div>
            <div class="form-group">
              {{ render_field(form.userName, class="form-control", style="width: 300px; height:40px;")}}
            </div>
            <div class="form-group">
              {{ render_field(form.userEmail, class="form-control", style="width: 300px; height:40px;")}}
            </div>
            <br>
            <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 28px;">CHANGE ADDRESS</h2>
            <div class="line-container">
                <hr class="half-screen-line">
            </div>
            <br>
              <div class="form-group">
                {{ render_field(form.userAddress, class="form-control", style="width: 300px; height:40px;")}}
              </div>
              <div class="form-group">
                {{ render_field(form.userPostalCode, class="form-control", style="width: 300px; height:40px;")}}
              </div>
              <br>
              <div class="button-container">
                <button type="submit" class="btn btn-primary settings-btn" style="color: #4b6043">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
