{% extends "Customer/base.html" %}
{% block title %}Healthy Living - Customer Wishlist{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
        <!-- Vertical Navbar -->
        <nav class="list-group vertical-nav pr-5 border-right" style ="border-right-width: 5px!important;">
            <ul class="navbar-nav">
            <li></li>
            <li class="nav-item active list-group-item">
                <a class="nav-link txt-light" href="/UserProfile">My Account </a>
            </li>
            <li class="nav-item list-group-item">
                <a class="nav-link txt-light" href="/Wishlist">My Wishlist</a>
            </li>
            <li class="nav-item list-group-item">
                <a class="nav-link txt-light" href="/OrderStatus">Order Status</a>
            </li>
            <li class="nav-item list-group-item">
                <a class="nav-link txt-light" href="/OrderHistory">Order History</a>
            </li>
            <li class="nav-item list-group-item">
                <a class="nav-link txt-light" href="{{ url_for('PaymentMethod', id=session['id'])}} ">Payment Methods</a>
            </li>
            <!-- Add more history items as needed -->
            </ul>
        </nav>
    <div class="flex-fill">
        <div class="container d-flex flex-column ml-5">
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 28px;">MY WISHLIST</h2>
          <div class="line-container">
              <hr class="half-screen-line" style="margin-bottom: 5px;">
          </div>
          <!-- Iterating over the wishlist items -->
          {% for product in wishlist %}
<div class="product text-center mb-3 mr-3">
                    <div class="product-image" style="width: 300px;height: 500px;background-color: white; position:relative;">
                        <img src="{{ product.image }}" style="
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        margin:auto
                    ">
                    </div>
                    <div class="product-info d-flex flex-column bgd-dark txt-dark p-3" style="width:300px">
                        <a class="product-title h5 txt-dark" id="title" href="{{ url_for('product_info', product_id=product.product_id) }}">{{ product.name }}</a>
                        <h4 class="price">${{ "%0.2f"|format(product.price) }}</h4>
                        <form action="{{ url_for('add_to_cart') }}" method="post">
                            <input type="hidden" name="product_id" value="{{ product.product_id }}">
                            <button type="submit" class="align-self-end add-to-cart p-3" >Add to Cart</button>
                        </form>
                    </div>
                </div>
          {% endfor %}
      </div>
      </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
